<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Striped Rows</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance : ${flights}">
            <td th:text="${instance.departureCity}">keyvalue</td>
            <td th:text="${instance.arrivalCity}">num</td>
            <td th:text="${instance.date}">num</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
</table>